* {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 200vh;
}

/*
 * HEADER
 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 15px 100px;
    background-color: lightskyblue;
    z-index: 2; /* imposta l'elemento come soprastante nello stack di rendering 3d */
}

header.sticky {
    padding: 10px 100px;
    background: #000;
}

header .logo {
    position: relative;
    font-weight: 700;
    color:#000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.8s ease, transform 0.8s ease;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 30px; /*margine con il div    il primo valore è il margin sul soffitto    l'altro è il margin sul bordo del div destro e sinistro*/
    text-decoration: none;
    color:#000;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.5s;
}

header.sticky .logo, header.sticky ul li a {
    color:#000
}

header .logo:hover {
    color: blue; /* Cambio del colore al passaggio del mouse */
    transform: scale(0.9); /* Esempio di trasformazione al passaggio del mouse */
}

header ul li a:hover, header ul li a:focus {
    background-color: #fff;
    color: #333;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
}

/*
 * UPPER BODY
 */
.upper {
    display: -webkit-flex;
    display: flex;
}

.column-upper-right {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-wrap: wrap;    /* Permette di mandare il testo su righe differenti, anziché risultare su più colonne */
    backdrop-filter: blur(10px);
    color:black;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 65%;
    margin-right: 5.5%;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1; /* imposta l'elemento come sottostante all'header nello stack di rendering 3d */
}

.column-upper-right p {
    margin-top: 0; /* Rimuovi il margine superiore tra il titolo e il paragrafo */
    text-align: justify;
    font-weight: bolder;
}

.column-upper-right h1 {
    font-weight: bold; 
}

.button1, .button2 {
    align-items: center;
    display: flex;
    padding: 10px 15px;
    background: white;
    outline: 3px solid #315cfd;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
    font-size: 0.5em;
    font-weight: 800;
    color: black;
    margin: 10px;
    margin-top: 5px;
}

.button1:hover, .button2:hover {
    background-color: #315cfd;
    color: white;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: black;
}

/*
 * CENTRAL BODY
 */
.central {
    display: -webkit-flex;
    display: flex;
}

.column-central-right {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    backdrop-filter: blur(10px);
    color:black;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 65%;
    margin-right: 10%;
    text-align: center;
    position: relative;
    z-index: 1; /* imposta l'elemento come sottostante all'header nello stack di rendering 3d */
}

.button3 {
    align-items: center;
    display: flex;
    padding: 10px 15px;
    background: white;
    outline: 3px solid #315cfd;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
    font-size: 0.5em;
    font-weight: 800;
    color: black;
    margin: auto;
}

.button3:hover {
    background-color: #315cfd;
    color: white;
    font-size: 0.8em;
}