* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    color: #c4c3ca;
}

/*
 * HEADER
 */
 header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 20px 100px;
    background-color: lightskyblue;
    z-index: 2; /* imposta l'elemento come soprastante nello stack di rendering 3d */
}

header.sticky {
    padding: 15px 100px;
    background: #000;
}

header .logo {
    position: relative;
    font-weight: 700;
    color:#000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.8s ease, transform 0.8s ease;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 30px; /*margine con il div il primo valore è il margin sul soffitto l'altro è il margin sul bordo del div destro e sinistro*/
    text-decoration: none;
    color:#000;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.5s;
}

header.sticky .logo, header.sticky ul li a {
    color:#000
}

header .logo:hover {
    color: blue; /* Cambio del colore al passaggio del mouse */
    transform: scale(0.9); /* Trasformazione al passaggio del mouse */
}

header ul li a:hover, header ul li a:focus {
    background-color: #fff;
    color: #333;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
}

.container {
    align-items: center;
}

.container h1 {
    margin-top: 120px;
    width: fit-content;
    margin-left: 36%;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    background-color: rgb(255, 255, 173);
    border-radius: 24px;
    color: #1f2029;
}

/*
 * SLIDER
 */

/* slider container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top: 40px;
}

/* controllo per nascondere le immagini */
.slide {
    display: none;
}

/* pulsanti avanti/indietro */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* posizionamento del pulsante "slide successiva" sulla destra */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* pallini che indicano il numero di slide */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* animazione di fading */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* responsività su schermi piccoli */
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
}

/*
 * DESCRIZIONE SERVIZI
 */
.row {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    width: 100%;
}

.left-column {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap; /* Permette di mandare il testo su righe differenti, anziché risultare su più colonne */
    width: 30%; /* imposto la larghezza al 30% della finestra, così da poter dividere le colonne in 3 ed avere dello spazio tra esse */
    left: 0;
    padding-top: 5%;
    margin: 25px;
    color:black;
    font-size: 30px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap; /* Permette di mandare il testo su righe differenti, anziché risultare su più colonne */
    width: 30%; /* imposto la larghezza al 30% della finestra, così da poter dividere le colonne in 3 ed avere dello spazio tra esse */
    padding-top: 5%;
    margin: 25px;
    color:black;
    font-size: 30px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
}

.right-column {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap; /* Permette di mandare il testo su righe differenti, anziché risultare su più colonne */
    width: 30%; /* imposto la larghezza al 30% della finestra, così da poter dividere le colonne in 3 ed avere dello spazio tra esse */
    right: 0;
    padding-top: 5%;
    margin: 25px;
    color:black;
    font-size: 30px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
}

.row h2 {
    font-size: 45px;
    font-weight: bold;
    padding: 20px;
    border: #1f2029;
    border-radius: 24px;
    outline: 3px solid #1f2029;
    background-color: #1f2029;
    color: rgb(255, 255, 173);
    transition: all 0.6s ease;
}

.row h2:hover {
    font-size: 55px;
    background-color: rgb(255, 255, 173);
    color: #1f2029;
    transition: all 0.6s ease;
}

.row p {
    padding: 35px;
    padding-bottom: 180px;
    font-size: 20px;
    font-weight: 400;
}

/*
 * FOOTER
 */
footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #023e8a;
    color: white;
}

footer h2 {
    margin-top: 25px;
    font-size: xx-large;
    font-weight: bold;
}

footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: x-large;
}

footer ul li {
    position: relative;
    list-style: none;
}

footer ul li a {
    position: relative;
    margin: 0 30px; /*margine con il div il primo valore è il margin sul soffitto l'altro è il margin sul bordo del div destro e sinistro*/
    text-decoration: none;
    color:#000;
    letter-spacing: 2px;
    font-weight: bolder;
}

footer ul li a:hover {
    font-size: large;
    transition: all 0.5s easy;
}