* {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}

/* impostando l'immagine di sfondo in questo modo (fixed), creo l'effetto parallasse (parallax) */
.container {
    background-image: url(../images/homepage2.jpg);
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
 * HEADER
 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 20px 100px;
    background-color: lightskyblue;
    z-index: 2; /* imposta l'elemento come soprastante nello stack di rendering 3d */
}

#chi-siamo{
    cursor: help;
}

header.sticky {
    padding: 15px 100px;
    background: #000;
}

header .logo {
    position: relative;
    font-weight: 700;
    color:#000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.8s ease, transform 0.8s ease;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 30px; /*margine con il div il primo valore è il margin sul soffitto l'altro è il margin sul bordo del div destro e sinistro*/
    text-decoration: none;
    color:#000;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.5s;
}

header.sticky .logo, header.sticky ul li a {
    color:#000
}

header .logo:hover {
    color: blue; /* Cambio del colore al passaggio del mouse */
    transform: scale(0.9); /* Trasformazione al passaggio del mouse */
}

header ul li a:hover, header ul li a:focus {
    background-color: #fff;
    color: #333;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
}

/*
 * UPPER BODY
 */
.upper {
    display: -webkit-flex;
    display: flex;
    height: 100%;
}

.column-upper-right {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-wrap: wrap; /* Permette di mandare il testo su righe differenti, anziché risultare su più colonne */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(15px);
    color:black;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 65%;
    margin-right: 5.5%;
    margin-bottom: 10%;
    padding: 20px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1; /* imposta l'elemento come sottostante all'header nello stack di rendering 3d */
}

.column-upper-right h1 {
    font-weight: bold;
}

.column-upper-right p {
    margin-top: 0; /* Rimuovi il margine superiore tra il titolo e il paragrafo */
    text-align: justify;
    font-weight: bolder;
}

.button1, .button2 {
    align-items: center;
    display: flex;
    padding: 10px 15px;
    background: white;
    outline: 3px solid #315cfd;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
    font-size: 0.5em;
    font-weight: bolder;
    color: black;
    margin: 10px;
    margin-top: 5px;
}

.button1:hover, .button2:hover {
    background-color: #315cfd;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}

.button1 a, .button2 a {
    text-decoration: none;
    color: black;
}

/*
 * CENTRAL BODY
 */
.central {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    /* parallax */
    background-image: url(../images/home.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column-central-left {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    margin-top: 20%;
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;
    color:black;
    font-size: 30px;
    text-align: center;
    backdrop-filter: blur(20px);
    z-index: 1;
}

.column-central-left h1 {
    font-weight: bold;
    margin: auto;
}

.button3 {
    align-items: center;
    display: flex;
    padding: 10px 15px;
    background: white;
    outline: 3px solid #315cfd;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
    color: black;
    margin: auto;
}

.button3 .text {
    font-size: 0.5em;
    font-weight: bolder;
}

.button3:hover {
    background-color: #315cfd;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}

.button3 a {
    text-decoration: none;
    color: black;
}

/*
 * CONTATTI
 */
.contatti {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #023e8a;
}

.contatti h1 {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

.riga {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.contatto1, .contatto2, .contatto3 {
    align-items: center;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 18px 25px;
    width: fit-content;
    height: min-content;
    background: white;
    outline: 3px solid #315cfd;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 1em;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    transition: transform 0.4s ease;
}

.contatto1 h2, .contatto2 h2, .contatto3 h2 {
    font-weight: 550;
    text-align: center;
    margin-top: 10px;
}

.contatto1 p, .contatto2 p {
    font-weight: bolder;
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
}

.contatto3 address {
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.contatto1:hover, .contatto2:hover, .contatto3:hover {
    transform: scale(1.2);
}

.contatto1 a, .contatto2 a, .contatto3 a {
    text-decoration: none;
    color: black;
}

/*
 * DIVIDER
 */
.divider {
    border-top: 4px solid gray;
}

/*
 * FOOTER
 */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #023e8a;
    color: white;
    z-index: 1;
}

footer h2 {
    margin-top: 25px;
    font-size: xx-large;
    font-weight: bold;
}

footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: x-large;
}

footer ul li {
    position: relative;
    list-style: none;
}

footer ul li a {
    position: relative;
    margin: 0 30px; /*margine con il div il primo valore è il margin sul soffitto l'altro è il margin sul bordo del div destro e sinistro*/
    text-decoration: none;
    color:#000;
    letter-spacing: 2px;
    font-weight: bolder;
    transition: 0.5s;
}

footer ul li a:hover {
    font-size: large;
    transition: all 0.5s easy;
}

/*
 * RESPONSIVITÀ FINESTRA
 */
@media screen and (max-width: 1000px) {
    /*
     * HEADER
     */
    header {
        padding: 60px 50px;
        flex-direction: column;
        align-items: flex-start; /* Allinea i contenuti a sinistra */
    }
 
    header .logo {
        margin-bottom: 20px;
        direction: initial;
    }
 
    header ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end; /* Allinea i link a destra */
    }
 
    header ul li {
        margin-bottom: 10px;
    }
 
    header ul li a {
        margin: 0;
    }

    /*
     * UPPER BODY
     */
    .column-upper-right {
        font-size: 30px;
        margin-top: 50%;
        margin-left: 35%;
        margin-right: 5.5%;
        margin-bottom: 10%;
    }

    /*
     * CENTRAL BODY
     */
    .column-central-left {
        margin-top: 20%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: auto;
        backdrop-filter: blur(20px);
    }

    /*
     * CONTATTI
     */
    .contatto1, .contatto2, .contatto3 {
        padding: 12px 15px;
        width: min-content;
        height: fit-content;
    }
}