* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    color: #c4c3ca;
}

/* impostando l'immagine di sfondo in questo modo (fixed), creo l'effetto parallasse (parallax) */
.container {
    background-image: url(../images/form.jpg);
    height: 1300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
 * HEADER
 */
 header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 20px 100px;
    background-color: lightskyblue;
    z-index: 2; /* imposta l'elemento come soprastante nello stack di rendering 3d */
}

#chi-siamo {
    cursor: help;
}

header.sticky {
    padding: 15px 100px;
    background: #000;
}

header .logo {
    position: relative;
    font-weight: 700;
    color:#000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.8s ease, transform 0.8s ease;
}

#menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu:before, #menu:after {
    content: '';
    display: table;
}

#menu:after {
    clear: both;
}

#menu li {
    position: relative;
    list-style: none;
}

#menu a {
    position: relative;
    margin: 0 30px; /*margine con il div il primo valore è il margin sul soffitto l'altro è il margin sul bordo del div destro e sinistro*/
    text-decoration: none;
    color:#000;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.5s;
}

#menu ul {
    margin: auto;
    height: fit-content;
    width: fit-content;
    opacity: 1;
    position: absolute;
    top: 100%;
    display: none;
    transition: all 0.6s ease-in-out;
    background-color: #7f9dc3;
    z-index: 1;
}

#menu li:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;
    animation: all 0.6s ease-in-out;
}

header.sticky .logo, header.sticky ul li a {
    color:#000
}

header .logo:hover {
    color: blue; /* Cambio del colore al passaggio del mouse */
    transform: scale(0.9); /* Trasformazione al passaggio del mouse */
}

#menu li a:hover, #menu li a:focus {
    background-color: #fff;
    color: #333;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
}

/*
 * FORM
 */
.center {
    position: relative;
    display: grid;
    gap: 50px;
    padding-top: 130px;
    place-items: center;
}

.prenota-form {
    position: relative;
    padding: 40px;
    border: none;
    border-radius: 24px;
    align-items: center;
    text-align: center;
    background-color: #191825;
}

.fieldset {
    padding-left: 30px;
    height: 50px;
    width: 100%;
    font-weight: 600;
    border-radius: 12px;
    font-size: 15px;
    color: rgb(214, 214, 214);
    background-color: #1f2029;
    border: none;
}

.volontario label {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    padding-right: 50px;
}

.volontario a {
    padding-left: 20px;
    font-size: 20px;
}

.data-prenotazione {
    margin-top: 30px;
}

.data-prenotazione label {
    position: relative;
    font-size: 15px;
    font-weight: 600;
}

.form-fieldset p {
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
}

.radio-btn {
    position: relative;
    height: 24px;
    width: 24px;
    font-size: 20;
    font-weight: 600;
    margin-left: 5px;
    padding-right: 45px;
}

.prenota-btn {
    height: 44px;
    font-size: 15px;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 0 30px;
    border-radius: 24px;
    border: none;
    background-color: rgb(255, 255, 173);
    color: #102770;
    cursor: pointer;
    text-decoration: none;
    transition: all 500ms ease;
}

.prenota-btn:hover {
    text-decoration: none;
    background-color: #102770;
    color: rgb(255, 255, 173);
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

/*
 * FOOTER
 */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #023e8a;
    color: white;
    z-index: 1;
}

footer h2 {
    margin-top: 25px;
    font-size: xx-large;
    font-weight: bold;
}

footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: x-large;
}

footer ul li {
    position: relative;
    list-style: none;
}

footer ul li a {
    position: relative;
    margin: 0 30px; /*margine con il div il primo valore è il margin sul soffitto l'altro è il margin sul bordo del div destro e sinistro*/
    text-decoration: none;
    color:#000;
    letter-spacing: 2px;
    font-weight: bolder;
    transition: 0.5s;
}

footer ul li a:hover {
    font-size: large;
    transition: all 0.5s easy;
}

/*
 * RESPONSIVITÀ FINESTRA
 */
@media screen and (max-width: 1000px) {
    .container {
        height: 1350px;
    }

    /*
     * HEADER
     */
    header {
        padding: 60px 50px;
        flex-direction: column;
        align-items: flex-start; /* Allinea i contenuti a sinistra */
    }
 
    header .logo {
        margin-bottom: 20px;
        direction: initial;
    }
 
    header ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end; /* Allinea i link a destra */
    }
 
    header ul li {
        margin-bottom: 10px;
    }
 
    header ul li a {
        margin: 0;
    }

    /*
     * FORM
     */
    .center {
        padding-top: 50%;
    }
}