* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    color: #c4c3ca;
}

.container {
    align-items: center;
    height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
 * HEADER
 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 20px 100px;
    background-color: lightskyblue;
    z-index: 2; /* imposta l'elemento come soprastante nello stack di rendering 3d */
}

#chi-siamo{
    cursor: help;
}

header.sticky {
    padding: 15px 100px;
    background: #000;
}

header .logo {
    position: relative;
    font-weight: 700;
    color:#000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.8s ease, transform 0.8s ease;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 30px; /*margine con il div il primo valore è il margin sul soffitto l'altro è il margin sul bordo del div destro e sinistro*/
    text-decoration: none;
    color:#000;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.5s;
}

header.sticky .logo, header.sticky ul li a {
    color:#000
}

header .logo:hover {
    color: blue; /* Cambio del colore al passaggio del mouse */
    transform: scale(0.9); /* Trasformazione al passaggio del mouse */
}

header ul li a:hover, header ul li a:focus {
    background-color: #fff;
    color: #333;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
}

/*
 * CENTRAL BODY
 */
.container h1 {
    margin-top: 90px;
    width: fit-content;
    margin-left: auto;
    margin-right:auto;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    background-color: rgb(255, 255, 173);
    border-radius: 10px;
    padding: 20px;
    color: #1f2029;
}

.row1 {
    margin-top: 5px;
    height: 110px;
    width: 100%;
    margin-left: 30px auto;
    margin-right: 30px auto;
    text-align: justify;
    background-color: #174DB1;
    color: #fff;
}

.row1 p {
    padding-top: 20px;
    padding-left:15px;
    padding-right:15px;
    font-size: 20px;
    font-weight: 400;
}

.row1 p strong, .row1 p u {
    font-size: 20px;
}

.row2, .row3{
    text-align: center;
    margin-top: 15px;
}

.row2 h2, .row3 h2 {
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    background-color: #1f2029;
    color: rgb(255, 255, 173);
    display: inline-block;
    margin: 0 auto;
    border: none;
    border-radius: 12px;
}

.foto-operatori {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: auto;
}

.operatore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.operatore p {
    margin-top: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 20px;
}

.row3 form {
    margin: 0 auto;
    position: relative;
    padding: 20px;
    width: 500px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    background-color: #191825;
    border: none;
    border-radius: 24px;
}

.fieldset {
    padding-left: 30px;
    height: 50px;
    width: 100%;
    font-weight: 600;
    border-radius: 12px;
    font-size: 15px;
    color: rgb(214, 214, 214);
    background-color: #1f2029;
    border: none;
}

.checkbox, .checkbox label {
    font-size: 14px;
}

.form-fieldset p {
    font-size: 15px;
    font-weight: 600;
    padding-top: 20px;
}

.candidati-btn {
    height: 44px;
    font-size: 15px;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 0 30px;
    border-radius: 24px;
    border: none;
    background-color: rgb(255, 255, 173);
    color: #102770;
    cursor: pointer;
    text-decoration: none;
    transition: all 500ms ease;
}

.candidati-btn:hover {
    text-decoration: none;
    background-color: #102770;
    color: rgb(255, 255, 173);
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

/*
 * FOOTER
 */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #023e8a;
    color: white;
    z-index: 1;
}

footer h2 {
    margin-top: 25px;
    font-size: xx-large;
    font-weight: bold;
}

footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: x-large;
}

footer ul li {
    position: relative;
    list-style: none;
}

footer ul li a {
    position: relative;
    margin: 0 30px; /*margine con il div il primo valore è il margin sul soffitto l'altro è il margin sul bordo del div destro e sinistro*/
    text-decoration: none;
    color:#000;
    letter-spacing: 2px;
    font-weight: bolder;
    transition: 0.5s;
}

footer ul li a:hover {
    font-size: large;
    transition: all 0.5s easy;
}